{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="bg-light py-3 px-3">
                    <h1 class="mb-5">Connexion</h1>

                    {% if hasError %}
                        <div class="alert alert-danger">Les information de connexion mentionnées sont erronées</div>
                    {% endif %}

                    <form action="{{ path('app_account_login') }}" method="post">
                        <div class="mb-3">
                            <label for="email" class="mb-2">Email</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email" value="{{username}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="mb-2">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-success float-end">Me connecter</button>
                        </div>
                    </form>      
                </div>
            </div>
        </div>
    </div>
{% endblock %}
