{% extends 'base.html.twig' %}


{% block title %}Louons.net: location de biens immobiliers{% endblock %}


{% block body %}
    <div class="container mt-5">

        <div class="bg-light p-5 rounded-3 mt-3 d-flex flex-column justify-content-between">
            <div>
                <h1 class="display-3 fw-bold">
                    louons.net: Annonces de location de biens immobiliers
                </h1>
                <p class="lead">
                    Nous mettons en relation les propriétaires souhaitant louer leurs biens immobiliers et les locataires.
                </p>
                <hr class="my-4">
                <p>
                    Vous souhaitez louer un gîte, une maison, un appartement, ...? Consultez nos annonces pour trouver votre bonheur.
                </p>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
            </div>
        </div>

        <h2 class="h1 mt-5 mb-4">Nos logements stars</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appart de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                        </p>
                        <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appart de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                        </p>
                        <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appart de ouf!
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                        </p>
                        <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-5 mb-4">Nos propriétaires stars</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Jacques Chirac</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Jacques Chirac" class="float-start me-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, neque.</p>
                            <a href="#" class="btn btn-success float-end">En savoir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Jacques Chirac</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Jacques Chirac" class="float-start me-3">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, neque.</p>
                            <a href="#" class="btn btn-success float-end">En savoir plus...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
