{% extends 'base.html.twig' %}

{% block title %}Louons.net: location de biens immobiliers{% endblock %}

{% block body %}
<div class="container mt-5">

    <div class="p-5 mb-5 bg-light rounded-5">
        <div class="container-fluid py-5">
            <h1 class="display-3 fw-bold">
                Louons.net: location de biens immobiliers entre propriétaires et locataires
            </h1>
            <p class="lead">
                Nous mettons en relation les propriétaires souhaitant louer leurs biens immobiliers et les locataires.
            </p>
        </div>
    </div>

    <h2 class="h1 mt-5 mb-4">Nos logements stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                <div class="card-body">
                    <h4 class="card-title">
                        Appart de ouf!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                    </p>
                    <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                <div class="card-body">
                    <h4 class="card-title">
                        Appart de ouf!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                    </p>
                    <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>

                <img src="http://placehold.it/1000x400" alt="Appartement" style="height: 200px; width: 100%; display: block;">

                <div class="card-body">
                    <h4 class="card-title">
                        Appart de ouf!
                    </h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa alias est commodi optio rem exercitationem facere laboriosam maiores dicta excepturi.
                    </p>
                    <a href="#" class="btn btn-secondary float-end">En savoir plus...</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-5 mb-4">Nos propriétaires stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Jacques Chirac</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Jacques Chirac" class="float-start me-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, neque.</p>
                        <a href="#" class="btn btn-success float-end">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Jacques Chirac</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Jacques Chirac" class="float-start me-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, neque.</p>
                        <a href="#" class="btn btn-success float-end">En savoir plus...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
