{% extends 'base.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
    <div class="container">
        <h1>Accès Refusé</h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}
